

<div class="flex justify-center mb-4">
   <a href="https://7jpxqb0xtvl.typeform.com/to/Al2xhAlQ">
    <button data-tf-popup="Al2xhAlQ" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Wedding RSVP" data-tf-transitive-search-params data-tf-medium="snippet" class="text-white font-bold py-4 px-24 rounded-full btn tracking-widest">
      RSVP
    </button> 
  </a>
</div>
<div class=" subtext-container flex flex-col mt-12 mb-6">
  <p class="subtext text-base">Please RSVP and provide any dietary requirements by 24 April 2023</p>
<p class="subtext text-base">Dress code: smart casual</p>
</div>
<style>
  button {
    background-color: #d46c54
  }

  button:hover {
    background-color: #be614b;
  }

  .btn {
    font-family: 'Karla', sans-serif;
    box-shadow: 5px 5px rgba(212,106,83, 0.4), 10px 10px rgba(212,106,83, 0.3), 15px 15px rgba(212,106,83, 0.2), 20px 20px rgba(212,106,83, 0.1), 25px 25px rgba(212,106,83, 0.05);
  }


  .subtext {
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    text-align: center;
  }
</style>
<script>
   import {animate} from 'motion';
   animate('.btn', {opacity: [0, 0.5, 1]}, {duration: 6, delay: 6})
   animate('.subtext-container', {x: [-1000, 0]}, {duration: 2, delay: 4})
</script>