@font-face {
  font-family: 'brown_sugarregular';
  src: url('/public/fonts/brown_sugar-webfont.woff2') format('woff2'),
       url('/public/fonts/brown_sugar-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}